{% extends '_base.html' %}

{% block header %}
	{% include '_header.html' %}
{% endblock %}


{% block content %}

	<!-- Задачи -->
	<div class="container-fluid">

		<!-- VueJS  app -->
		<div class="row">
            
            <!-- Левая панель -->
			<div class="col" style="max-width: 256px;">
				<div class="row">

					<!-- День - неделя - месяц -->
					<div class="col-12">
						<ul class="p-2 mb-0">

							
													
							<li class="my-2" style="list-style: none;">
								<span>
									<i class="fa fa-sun-o" aria-hidden="true"></i>
									<span class="h6 ml-2 mr-3">На сегодня</span>
									<span class="badge badge-light">4</span>
								</span>
							</li>

							<li class="my-2" style="list-style: none;">
								<span>
									<i class="fa fa-star" aria-hidden="true"></i>
									<span class="h6 ml-2 mr-3">Важно</span>
									<span class="badge badge-light">4</span>
								</span>
							</li>
						
							<li class="my-2" style="list-style: none;">
								<span>
									<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
									<span class="h6 ml-2 mr-3">Запланировано</span>
									<span class="badge badge-light">4</span>
								</span>
							</li>

							<li class="my-2" style="list-style: none;">
								<span>
									<i class="fa fa-window-restore" aria-hidden="true"></i>
									<span class="h6 ml-2 mr-3">Все задачи</span>
									<span class="badge badge-light">4</span>
								</span>
							</li>
						</ul>
					</div>		

					<!-- Все -->
					<div class="col-12">
						<ul class="p-2 mb-0">
							<div class="row text-success font-italic" style="font-size: 0.7em;">
								<div class="col-12 d-flex align-items-end ">
									<span>Группы задач</span>
								</div>
							</div>

							<!-- Пример группы задач -->
							<li class="my-2" style="list-style: none;">
								<span>
									<i class="fa fa-tasks" aria-hidden="true"></i>
									<span class="h6 ml-2 mr-3">Личные</span>
									<span class="badge badge-light">4</span>
								</span>
							</li>

							<li class="my-2" style="list-style: none;">
								<span>
									<i class="fa fa-tasks" aria-hidden="true"></i>
									<span class="h6 ml-2 mr-3">Работа</span>
									<span class="badge badge-light">4</span>
								</span>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
            
            <!-- Центр -->
			<div class="col bg-secondary" style="min-height: 100vh;">
				<div class="row m-0 px-2">
					<div class="col-12">

						<!-- Название группы задач -->
						<div class="row">
							<div class="col-12 d-flex align-items-center  dc_todo_line-height">
								<span class="font-weight-bold text-uppercase">Название группы задач</span>
							</div>
						</div>

						<!--  -->
						<div class="row text-success font-italic" style="font-size: 0.7em;">
							<div class="col-12 d-flex align-items-end ">
								<span class="ml-4 mr-auto">задача</span>
								<span class="mr-5">автор</span>
								<span class="mr-4">выполнить до:</span>
							</div>
						</div>

						<!-- Список задач -->
						<div class="row">
							<div class="col-12 border-bottom border-success d-flex align-items-center  dc_todo_line-height">
								<span class="mr-3">
									<i class="fa fa-circle-o" aria-hidden="true"></i>
								</span>
								<span class="mr-auto">Задача</span>
								<span class="mr-3">Чакирян Д.</span>
								<span class="mr-3">22-04-2019</span>
								<span><i class="fa fa-star-o" aria-hidden="true"></i></span>
							</div>
						</div>

						<!-- Создание новой задачи -->
						<div class="row">
							<div class="col-12 border-bottom border-success d-flex align-items-center  dc_todo_line-height">
								
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fa fa-plus" aria-hidden="true"></i></span>
									</div>
									<input type="text" aria-label="First name" class="form-control" size="40" placeholder="Новая задача">
									<select class="custom-select" id="inputGroupSelect04">
										<option selected>Без группы</option>
										<option value="1">День</option>
										<option value="2">Неделя</option>
										<option value="3">Месяц</option>
									</select>
									<!-- TODO: Задействовать когда будет готов функционал АВТОР-ИСПОЛНИТЕЛЬ -->
									<!-- <select class="custom-select" id="inputGroupSelect04">
										<option selected>Исполнитель</option>
										<option value="1">Иванов И.</option>
										<option value="2">Петров П.</option>
										<option value="3">Васильев В.</option>
									</select> -->
									<div class="input-group-append">
										<button class="btn btn-outline-success" type="button">Создать</button>
									</div>
								</div>
								
							</div>
						</div>
							
					</div>
					
				</div>
			</div>
            
            <!-- Правая панель -->
			<div class="col" style="max-width: 512px;">
				<p>Правая панель</p>
			</div>
			
		</div>
	</div>


{% endblock %}


{% block footer %}
	{% include '_footer.html' %}
{% endblock %}




{% block scripts %}
	{{ super() }}
	{% assets "vuejs" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		<style>
			.dc_todo_line-height{
				min-height: 55px;
			} 
		</style>
	{% endassets %}
{% endblock %}