{% extends '_base.html' %}

{% block header %}
	{% include '_header.html' %}
{% endblock %}


{% block content %}
	
	<!-- Задачи -->
	<div class="container-fluid">

		<!-- VueJS  app -->
		<div id="todoapp" class="row">
            
            <!-- Левая панель -->
			<div class="col" style="max-width: 256px;">
				<div class="row">

					<!-- День - неделя - месяц -->
					<div class="col-12">
						<ul class="p-2 mb-0">
							<!-- TODO: рассмотреть вариант ссылок белого цвета -->
							<li class="my-2" style="list-style: none;">
								<span>
									<i class="fa fa-sun-o" aria-hidden="true"></i>
									<span class="h6 ml-2 mr-3"><a href="">На сегодня</a></span>
									<span class="badge badge-light">4</span>
								</span>
							</li>

							<li class="my-2" style="list-style: none;">
								<span>
									<i class="fa fa-star" aria-hidden="true"></i>
									<span class="h6 ml-2 mr-3"><a href="">Важно</a></span>
									<span class="badge badge-light">4</span>
								</span>
							</li>
							
							<!-- TODO: внедрить после планировщика! -->
							<!-- <li class="my-2" style="list-style: none;">
								<span>
									<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
									<span class="h6 ml-2 mr-3"><a href="">Запланировано</a></span>
									<span class="badge badge-light">4</span>
								</span>
							</li> -->

							<li class="my-2" style="list-style: none;">
								<span>
									<i class="fa fa-window-restore" aria-hidden="true"></i>
									<span class="h6 ml-2 mr-3"><a href="">Все задачи</a></span>
									<span class="badge badge-light">4</span>
								</span>
							</li>
						</ul>
					</div>		

					<!-- Все -->
					<div class="col-12">
						<ul class="p-2 mb-0">
							<div class="row text-success font-italic" style="font-size: 0.7em;">
								<div class="col-12 d-flex align-items-end ">
									<span>Группы задач</span>
								</div>
							</div>

							<!-- Группы задач -->
							<category-item
								v-for="category in categories"
								v-bind:category="category"
								v-bind:key="category.id">
							</category-item>
							
						</ul>
					</div>

					<div class="col-12">
						<div class="p-2 mb-0">
							<div class="row text-success font-italic" style="font-size: 0.7em;">
								<div class="col-12 d-flex align-items-end ">
									<span>
										<!-- TODO: Сменить цвет ссылки на зеленый -->
										<new-task-group></new-task-group>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
			




            <!-- Центр / Блок вывода задач-->
			<div class="col bg-secondary" style="min-height: 100vh;">
				<div class="row m-0 px-2">
					<div class="col-12">

						<!-- Название группы задач -->
						<div class="row">
							<div class="col-12 d-flex align-items-center" style="min-height: 55px;">
								<span class="font-weight-bold text-uppercase">Название группы задач</span>
							</div>
						</div>

						<!--  -->
						<div class="row text-success font-italic" style="font-size: 0.7em;">
							<div class="col-12 d-flex align-items-end ">
								<span class="ml-4 mr-auto">задача</span>
								<span class="mr-5">автор</span>
								<span class="mr-4">выполнить до:</span>
							</div>
						</div>

						<!-- Список задач -->
						<!-- TODO: добавить выделение цветом при наведении -->
						<!-- TODO: добавить вывод информации по клику -->
						<div class="row">
							<todo-item
								v-for="todo in todos"
								v-bind:todo="todo"
								v-bind:key="todo.id">
							</todo-item>
						</div>

						<!-- Создание новой задачи -->
						<div class="row">
							<new-todo-item
								v-bind:categories="categories">
							</new-todo-item>
						</div>
							
					</div>
					
				</div>
			</div>
            
            <!-- Правая панель -->
			<div class="col" style="max-width: 512px;">
				<!-- TODO: Разработать дизаин вывода и дополнения информации по задаче -->
				<p>Правая панель</p>
			</div>
			
		</div>
	</div>


{% endblock %}


{% block footer %}
	{% include '_footer.html' %}
{% endblock %}


{% block scripts %}
	{{ super() }}
	{% assets "js_bundle" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}