{% extends '_base.html' %}

{% block header %}
	{% include '_header.html' %}
{% endblock %}


{% block content %}

	<!-- Задачи -->
	<div class="container">
		<div id="todo-list" class="row">

			<new-todo></new-todo>

			<div class="row">
				<todo-item
					v-for="todo in todos"
					v-bind:todo="todo"
					v-bind:key="todo.id">	
				</todo-item>
			</div>
			
		</div>
	</div>


{% endblock %}


{% block footer %}
	{% include '_footer.html' %}
{% endblock %}




{% block scripts %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/todo.js') }}"></script>
{% endblock %}