<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Flask - Vue</title>
		<link rel="icon" sizes="48X48" href="{{ url_for('static', filename='img/favicon.ico') }}">
		<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
		<!-- TODO: загружать сторонние библиотеки css и js c быстрых CDN -->
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}">
	{% endblock %}
</head>
<body style="background-color: #272B30; min-height: calc(100vh-60px); color: white;">
	
	{% block header %}{% endblock %}


	{% block content %}{% endblock %}
		


	{% block footer %}{% endblock %}
		

	{% block scripts %}
		
	{% endblock %}

</body>
</html>