{% extends '_base.html' %}


{% block header %}

{% endblock %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}

<div class="container">
    <div class="row">
        <div class="col-5 mr-auto ml-auto m-4 border border-success rounded p-4">
            <h1 class="text-center">Вход</h1>
            <form action="" method="POST" class="form" role="form">
        {{ form.hidden_tag() }}

        {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ field(class_='form-control', tabindex=110, placeholder="Логин или email") }}
            {% if field.errors %}
                {% for e in field.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>

        {# Password field #}
        {% set field = form.password %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ field(class_='form-control', tabindex=120, placeholder="Пароль") }}
            {% if field.errors %}
                {% for e in field.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
            {% endif %}

            <div class="row">
                <div class="col-xs-6 w-100 text-center">
                    {% if user_manager.USER_ENABLE_REGISTER and not user_manager.USER_REQUIRE_INVITATION %}
                    <a class="mx-2" href="{{ url_for('user.register') }}" tabindex='190'>
                        Регистрация
                    </a>
                    {% endif %}
                    {% if user_manager.USER_ENABLE_FORGOT_PASSWORD %}
                        <a  class="mx-2" href="{{ url_for('user.forgot_password') }}" tabindex='195'>
                            Восстановить пароль
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        {# Remember me #}
        {% if user_manager.USER_ENABLE_REMEMBER_ME %}
        {{ render_checkbox_field(login_form.remember_me, tabindex=130) }}
        {% endif %}

        {# Submit button #}
        {{ render_submit_field(form.submit, tabindex=180) }}
    </form>
        </div>
    </div>

</div>
{% endblock %}